@import url('https://fonts.googleapis.com/css?family=PT+Sans|Rubik');


body {
  background-color: rgba(169, 180, 204, .5);
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: block;
  margin: 15vh auto 0;
  width: 80vw;
}

h3 {
  color: rgba(47, 58, 82, 0.9);
  font-size: 1.7rem;
}

input {
  margin: 0.3em 0 0 0;
  padding: 1em;
  line-height: 1;
  font-size: 1rem;
  border: none;
  background: rgba(124, 119, 119, 0.2);
  display: block;
  width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #eee inset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  font-size: 1.3rem;
  color: rgb(47, 58, 82);
  line-height: 2;
}

.thanks-msg {
  font-size: 1.3rem;
  color: rgb(47, 58, 82);
  text-align: center;  
}

.step-counter{
  font-size: 0.9rem;
  color: rgb(47, 58, 82);
}

.error-msg{
  font-size: 0.9rem;
  color: rgb(47, 58, 82);
}

.btn {
  font-size: 2rem;
  background: transparent;
  border: none;
  width: 2em;
  color: rgba(47, 58, 82, 0.9);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
 } 

.form-check-input{
  width: 20px;
}